@model List<BAL.Modelos.ModeloTipo>
@{
    ViewBag.Title = "verMascotaPorTipo";
}

<h2>ver mascota por tipo</h2>

<div>
    <div class="form-group">
        <p>seleccione un tipo para ver mascotas</p>
        <div class="col-md-10">
            <select name="tipo" id="tipo" class="form-control">
                <option selected="" disabled="">-seleccione un tipo-</option>
                
                    @foreach (var tipo in Model.OrderBy(t=>t.Nombre))
                    {
                        <option value="@tipo.IdTipo">@tipo.Nombre</option>
                    }
                
            </select>
        </div>
        <div class="row">
            <div id="receptor" class="col-md-10">

            </div>
        </div>
        
    </div>
</div>
<script>
    $(function () {
        $("#tipo").change(function () {
            var idTipo = $(this).val();
            cargarTipos(idTipo);
        });
    });

    function cargarTipos(idTipo)
    {
        $.ajax({
            url: "@Url.Action("verMascotasDelTipo")",
            type: "Get",
            contentType: "HTML",
            data: { idTipo: idTipo },
            success: function (respuesta) {
                $("#receptor").empty();
                $("#receptor").append(respuesta);
                
            },
            error: function (respuesta) {
                alert(respuesta);
            },
            complete: function (respuesta) {
                console.log(respuesta);
            }
        })
    }
</script>


